<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Database connection setting -->
		<property name="connection.driver_class">org.h2.Driver</property>
		<property name="hibernate.connection.url">jdbc:h2:tcp://localhost/~/pkcorp</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>

		<!-- JDBC Connection Pool (use built-in) -->
		<property name="hibernate.connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
		
		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<!-- Echo all executed SQL to stout -->
		<property name="show_sql">true</property>
		
		<!-- Build the database schema on startup 
			1. Drop and recreate, use - create
			2. Modify, use - update
		-->
		<property name="hbm2ddl.auto">create</property>
		
		<!-- Names of the annotated entity classes -->
		
		<!-- <mapping class="com.beyondalgo.dto.UserDetails"/>
		<mapping class="com.beyondalgo.dto.UserDetails2"/>
		<mapping class="com.beyondalgo.dto.Vehicle"/> -->
		
		<!-- For Inheritance example -->
		<!-- <mapping class="com.beyondalgo.hibernate.inheritanceExample.VehicleForInheritance"/>
		<mapping class="com.beyondalgo.hibernate.inheritanceExample.TwoWheeler"/>
		<mapping class="com.beyondalgo.hibernate.inheritanceExample.FourWheeler"/> -->
		
		<!-- For CRUD Example -->
		<mapping class="com.beyondalgo.hibernate.crudExample.UserDetailsForCrud"/>
	</session-factory>
</hibernate-configuration>